.section-header {
    /*position: absolute;*/
    z-index: 10;
    display: flex;
    width: 100%;
}

.section-container{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 9999;
}

.header-section {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: flex-start;
    position: relative;
    padding: .5rem 1rem;
}

.big-container{
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.logo {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.header-section .software_banner_btn{
    font-size: 14px;
    margin-right: 20px;
    padding: 8px 15px!important;
    text-align: center;
}

.header_login_btn{
    cursor: pointer;
    display: block;
    text-decoration: none;
    outline: 0;
    color: black;
    font-size: 16px;
}

